h1{
    color: #4a4c4b;
    font-size: 45px;
    font-weight: 600;
}

.another-color{
    color: mediumpurple;
}
.big-font{
    font-size: 60px;
}

#login{
    background: linear-gradient(170deg, #47ca90, white);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-btn{
    text-decoration: none; /*밀줄 없애기*/
    color: #4a4c4b;
    background-color: lightgreen;
    padding: 10px 30px; /* 첫 번째 --> 세로 너비 | 두 번째 --> 가로 너비 */
    border-radius: 6px;
    border: 1px solid green;
    transition: 0.5s;
    width: 100%;
}

.login-btn:hover{
    background-color: limegreen;
    color: #4a4c4b;
}

.login-card{
    max-width: 800px;
    padding: 30px 50px;
    border: 8px #4a4c4b;
    border-radius: 15px;
}


.changing-color{
    color: #4a4c4b;
}

.error-message{
    color: red;
    margin-top: 15px;
}

.btn-login{
    background-color : lightgreen;
    padding: 4px 15px;
}
.btn-login:hover{
    background-color : limegreen;
}

.bg-nav{
    background-color : #f5f4e0;
}

.mob-menu{
    color : black;
}

.hero{
    background : url('../img/bg1.jpg');
    height: 100vh;
    background-size : cover;
    display : flex;
    flex-direction : column;
    justify-content : center;
    z-index: 1;

}

.hero::before{
    content : '';
    position : absolute ;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    background : rgba(0,0,0,2);
    z-index: -1;
}

.hero h1{
    z-index: 99;
    color : #2832a7;
}

.hero p{
    z-index: 99;
    color : #2832a7;
}

.nav{
    padding: 15px 10px !important;
}


.table th{
    background-color : lightgreen;
    color : #FFF9E6;
    font-family : "Source Code Pro", monospace;
}

.table td{
    font-family : "Source Code Pro", monospace;

}

.table tr:hover{
    background-color : black;
    cursor: pointer;
}

#about{
    padding: 75px 0px;
    background-color: #f5e5c1;
}

#about img{
    width: 80%;
    border-radius: 10px;
}

#about p{
    color: #040c6a;
}

.section-title{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 70px;
    position: relative;
    padding-bottom: 20px;
}

.section-title::after{
    content: "";
    width: 50px;
    height: 5px;
    background-color: darkblue;
    position: absolute;
    bottom: 0;
    left: 48%;
    border-radius: 5px;
}

.text-justify{
    text-align: justify;
}

#features{
    padding: 75px 0px;
    background-color: #f5e5c1;
}
#features .card{
    padding: 20px 30px;
    height: 500px;
}

.navbar-brand{
    font-size: 30px;
    font-weight: bold;
}

.mt-6{
    margin-top: 90px;
}
#database .card{
    height: 500px;
    background-color: #fafaff;
    border: 2px solid #232176;
}

.chart-card{
      font-family: "Prompt", sans-serif;
      padding: 40px 40px;
}
.chart-card h3{
    font-size: 30px;
}

#myChart2{
    width: 50% !important;
    height: auto;
    display: block;
}
