{% extends 'header.html' %}
{% block database %}

    <div class="container" id="database">
        <h2 class="text-center section-title mt-6" data-aos="fade-down" data-aos-duration="1500">Database</h2>
        <table class="table mt-4" data-aos="fade-up" data-aos-duration="1500">
            <thead>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Age</th>
                    <th scope="col">Country</th>
            </thead>
            <tbody>
            {% for i in range(num_users) %}
                    <tr>
                        <td>{{indices[i]}}</td>
                        <td>{{usernames[i]}}</td>
                        <td>{{genders[i]}}</td>
                        <td>{{ages[i]}}</td>
                        <td>{{countries[i]}}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row mb-5" >
            <div class="col-md-6" data-aos="fade-up-right">
                <div class="card chart-card">
                    <div class="card-body">
                        <h3 class="text-center mb-4">Gender Distribution</h3>
                        <canvas class="mx-auto" id = "myChart" width = "400" height="200"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-up-left">
                <div class="card chart-card">
                    <div class="card-body">
                        <h3 class="text-center mb-4">Gender Distribution</h3>
                        <canvas class="mx-auto" id = "myChart2" width = "400" height="200"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-md-5" data-aos="fade-up-right">
                <div class="card chart-card">
                    <div class="card-body">
                        <h3 class="text-center mb-4">User Activities</h3>
                        <canvas class="mx-auto" id = "myChart3" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-md-5" data-aos="fade-up-left">
                <div class="card chart-card">
                    <div class="card-body">
                        <h3 class="text-center mb-4">Users' Sentiment</h3>
                        <canvas class="mx-auto" id = "myChart4" width="400" height="200" ></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-md-5" data-aos="fade-up-right">
                <div class="card chart-card">
                    <div class="card-body">
                        <h3 class="text-center mb-4">Keyword Analysis</h3>
                        <canvas class="mx-auto" id = "myChart5" width="400" height="200" ></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-md-5" data-aos="fade-up-left">
                <div class="card chart-card">
                    <div class="card-body">
                        <h3 class="text-center mb-4">Positive</h3>
                        <canvas class="mx-auto" id = "myChart6" width="400" height="200" ></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.5/dist/chart.umd.min.js"></script>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Male", "Female"],
            datasets: [{
                label: "Number",
                data: [15, 25],
                backgroundColor: [
                    'rgba(98, 99, 104)',
                    '#5B7484'
                ]
            }]
        }
    });

    const ctx2 = document.getElementById('myChart2').getContext('2d');
    const myChart2 = new Chart(ctx2, {
        type: 'pie',
        data: {
            labels: ["Male", "Female"],
            datasets: [{
                label: "Number",
                data: [15, 25],
                backgroundColor: [
                    'rgba(98, 99, 104)',
                    '#5B7484'
                ]
            }]
        }
    });
    const ctx3 = document.getElementById('myChart3').getContext('2d');
    const myChart3 = new Chart(ctx3, {
        type: 'line',
        data: {
            labels: ["Sun", "Mon", "Tues", "Wed", "Thurs", "Fri", "Sat"],
            datasets: [{
                label: "Number",
                data: [10, 12, 16, 19, 25, 23, 26],
                backgroundColor: [
                    'rgba(98, 99, 104)',
                    '#5B7484'
                ]
            }]
        }
    });
    const ctx4 = document.getElementById('myChart4').getContext('2d');
    const myChart4 = new Chart(ctx4, {
        type: 'radar',
        data: {
            labels: ["Positive", "Negative", "Neutral"],
            datasets: [{
                label: "Number",
                data: [70, 40 ,50],
                backgroundColor: [
                    'rgba(98, 99, 104)',
                    '#5B7484'
                ]
            }]
        }
    });

    const keyFrequencies = {
        "sad": 18,
        "excite": 25,
        "fun": 14,
        "hard": 20
    }
    const labels_keywords = Object.keys(keyFrequencies) // ["sad", "excite", "fun", "hard"]
    const data_keywords = Object.values(keyFrequencies) // [18, 25, 14, 20]
    var ctx5 = document.getElementById("myChart5").getContext('2d');
    new Chart(ctx5, {
        type: "bar",
        data: {
            labels: labels_keywords,
            datasets: [{
                data: data_keywords,
                backgroundColor:["#061f6a", "#072fa9", "#093cd7", "#2e5ff5"]
            }]
        },
        options:{
            indexAxis: 'y',
            plugins:{
                legend:{
                    display: false
                }
            }
        }

    });
    const positiveFrequencies = {
        "happy": 18,
        "excite": 25,
        "fun": 14,
        "good": 20
    }
    const positive = Object.keys(positiveFrequencies) // ["sad", "excite", "fun", "hard"]
    const data_positive = Object.values(positiveFrequencies) // [18, 25, 14, 20]
    var ctx6 = document.getElementById("myChart6").getContext('2d');
    new Chart(ctx6, {
        type: "bar",
        data: {
            labels: positive,
            datasets: [{
                data: data_keywords,
                backgroundColor:["#061f6a", "#072fa9", "#093cd7", "#2e5ff5"]
            }]
        },
        options:{
            indexAxis: 'y',
            plugins:{
                legend:{
                    display: false
                }
            }
        }

    });

</script>

{% endblock %}