{% extends "nav.html" %}<!-- .navbar -->
{% block index %}
<head>
    <link href="../static/css/main.css" rel="stylesheet">
</head>
<body>
   <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="../static/img/hero2.jpg" alt="" data-aos="fade-in">

      <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-start">
          <div class="col-lg-12">
            <h2>Project XR</h2>
            <p>Revolutionizing VR and AR technologies for AI consultations</p>
            <a href="#about" class="btn-get-started">Get Started</a>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>About XR<br></span>
        <h2>About XR<br></h2>
<!--        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>-->
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
            <img class="d-block mx-auto" src="../static/img/about1.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
            <h3>Revolutionizing VR and AR technologies</h3>
            <p class="text-justify">
Project XR strives to revolutionize mental health solutions through the use of Extended Reality (XR) technology. Project XR’s goal is to understand human drama through technology, enhance their emotional wellness, especially those who lack confidence and find it difficult to express themselves. This is the future of mental health interventions, where technology becomes a powerful tool for positive change, addressing the complex challenges of self-reflection and emotional well-being.

            </p>

            <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->


    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Features</span>
        <h2>Key Features</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
<i class="bi bi-badge-ar"></i>              </div>
                <h3>Augmented Reality</h3>
              </a>
          <p>Experience immersive technology that enhances real-world environments with interactive digital elements.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
                <h3>Virtual Reality</h3>
              </a>
          <p>Step into fully virtual environments that offer dynamic and interactive experiences tailored to individual needs.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
<i class="bi bi-motherboard"></i>              </div>
                <h3>Artificial Intelligence</h3>
              </a>
          <p>Leverage AI-driven insights to enhance decision-making processes and improve mental health interventions.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
<i class="bi bi-file-earmark-bar-graph"></i>              </div>
                <h3>Data Science</h3>
              </a>
          <p>Utilize advanced data analytics to derive meaningful insights from complex datasets, driving innovation.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
<i class="bi bi-browser-chrome"></i>
              </div>
                <h3>Web Programming</h3>
              </a>
          <p>Develop sophisticated web applications tailored to deliver seamless user experiences and enhanced functionality.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
<i class="bi bi-pencil-square"></i>              </div>
                <h3>Research</h3>
              </a>
          <p>Conduct groundbreaking research that pushes the boundaries of XR technologies and mental health solutions.</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section dark-background">

      <img src="assets/img/cta-bg.jpg" alt="">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>Download VR-App</h3>
<p>Our VR app is currently in development and will be available for download soon. Stay tuned for an immersive experience that blends technology and mental health solutions to help you achieve emotional well-being.</p>
<a class="cta-btn disabled-btn" href="#" role="button" aria-disabled="true" onclick="return false;">Coming Soon</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->



  </main>

</body>


    {% endblock %}