{% extends 'header.html' %}
{% block index %}


<section class="hero">
     <div class="container">
         <h1 class="page-style">Welcome to Project XR</h1>
         <p class="page-style">Virtual Consulting Services</p>
     </div>
 </section>

<section id="about">
    <div class = "container">
        <h2 class="text-center section-title">About Project XR</h2>
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid d-block mx-auto" src="../static/img/bg2.jpg">
            </div>
            <div class="col-md-6 px-md-5">
                <p class="text-justify">Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. </p>
            </div>
        </div>
    </div>
</section>
<section id="features">
    <div class="container">
        <h2 class="text-center section-title">Our Features</h2>
        <div class="row">
            <div class="col-md-4 px-md-5">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">Data Analysis</h3>
                        <p class="text-justify">Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. </p>
                        <img class="img-fluid d-block mx-auto" src="../static/img/data_analysis.jpg">
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-md-5">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">Machine Learning</h3>
                        <p class="text-justify">Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. </p>
                        <img class="img-fluid d-block mx-auto" src="../static/img/machine learning.jpg">
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-md-5">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">VR application</h3>
                        <p class="text-justify">Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. Project XR is best. </p>
                        <img class="img-fluid d-block mx-auto" src="../static/img/unnamed.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}